.cards {
  width: 920px;

  list-style: none;

  display: flex;
  flex-flow: row wrap;
  column-gap: 100px;

  margin: 0 auto;
  padding: 0;
}

.picture-container {
  position: relative;
}

.picture__text {
  position: absolute;
  top: 0;
  left: 0;
}

.test {
  width: 50px;
  height: 50px;
  
  background-image: url('../../images/logo_place_header.svg');
  
  position: relative;
}

.test::after {
  content: 'text';
  
  position: absolute;
  top: 0;
  left: 0;
}
